@import "../../../shared/styles/common.scss";
.main {
  display: flex;
  flex-direction: column;
  @include desktop {
    display: flex;
    flex-direction: row;
    padding-left: 115px;
    padding-right: 115px;
  }
}
