@import "src/shared/styles/common";

.name {
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: getColor("text-primary");
  border-right: 2px solid getColor("border-color");
}

.btn {
  padding: 0;
  margin-left: 15px;

  color: getColor("text-secondary");
  cursor: pointer;

  border: none;
  background-color: transparent;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;

  @include tablet {
    margin-right: 50px;
  }
}
