@import "src/shared/styles/common";

.row {
  display: flex;
  align-items: flex-end;
  background-color: getColor("bg-user-menu");
}

.userInfo {
  padding: 15px;
}

.name {
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: getColor("text-primary");
  border-right: 2px solid getColor("border-color");
}

.btn {
  margin-left: 15px;
  margin-right: 50px;
  color: getColor("text-secondary");
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
}
