@import "../../../shared/styles/common.scss";
.summaryDiv {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 350px;
  @include tablet {
    max-width: 310px;
    margin-top: 91px;
  }

  @include desktop {
    margin-top: 143px;
  }
}

.summaryTitle {
  padding-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  @include tablet {
    padding: 0;
  }

  @include desktop {
  }
}

.summaryList {
  color: getColor("text-secondary");
  font-weight: 400;
}

.summaryItem {
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 23px;
  }
}

.summary_kcal {
  padding-right: 15px;
  @media screen and (min-width: 768px) {
    padding-left: 33px;
    padding-right: 60px;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 175px;
  }
}
