@mixin media-rule($range) {
  $mobile: $mobile;
  $tablet: $tablet;
  $desktop: $desktop;

  @if $range == mobile-only {
    @media (max-width: #{$tablet - 1}) {
      @content;
    }
  } @else if $range == mobile {
    @media (min-width: $mobile) {
      @content;
    }
  } @else if $range == tablet-only {
    @media (max-width: #{$desktop - 1}) {
      @content;
    }
  } @else if $range == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $range == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}

//example:
// @include media-rule(tablet) {
//   margin-bottom: 53px;
// }

@function getColor($key) {
  @return map-get($colors, $key);
}
// body {
//   background-color: getColor('text-primary');
// }

@function getFont($key) {
  @return map-get($fonts, $key);
}

// example:
// body {
//   font-family: getFont('text-primary');
// }

@mixin flex($main-axis: flex-start, $main-cross: stretch) {
  display: flex;
  flex-wrap: wrap;

  @if $main-axis != flex-start {
    justify-content: $main-axis;
  }

  @if $main-cross != stretch {
    align-items: $main-cross;
  }
}

// example:
// body {
//  @include flex(center, center);
//  margin-bottom: 53px;
// }
