$colors: (
  "text-primary": #212121,
  "text-secondary": #9b9faa,
  "text-white": #fff,
  "bg-primary": #fff,
  "bg-secondary": #f0f1f3,
  "decoration": #8626fe,
  "accent": #fc842d,
);

$fonts: (
  "font-primary": "Verdana",
  "font-secondary": "Gotham Pro",
);

$min-width-mobile: 320px;
$min-width-tablet: 768px;
$min-width-deskto: 1280px;
