$colors: (
  "text-primary": #212121,
  "text-secondary": #9b9faa,
  "text-white": #fff,
  "bg-primary": #fff,
  "bg-secondary": #f0f1f3,
  "decoration": #8626fe,
  "accent": #fc842d,
  "border-color": #e0e0e0,
  "bg-user-menu": #eff1f3,
);

$font-primary: "Verdana";

$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
