@import "base";
@import "reset";

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @include tablet {
    .container {
      width: 738px;
      padding: 0;
    }
  }

  @include desktop {
    .container {
      width: 1250px;
    }
  }
}
