@import "base";
@import "reset";

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @include tablet {
    .container {
      width: 612px;
      padding: 0;
    }
  }

  @include desktop {
    .container {
      width: 1100px;
    }
  }
}
