@import "../../../shared/styles/common.scss";
.rationWrapper {
  @include tablet {
    max-width: 310px;
    margin-top: 91px;
  }
}

.rationTitle {
  margin-bottom: 20px;
}

.ration {
  font-weight: 400;
  color: getColor("text-secondary");
}
