@import "../../shared//styles/common.scss";

.header {
  padding: 18px 15px;

  border-bottom: 2px solid #e0e0e0;

  @include tablet {
    border-bottom: 2px solid #e0e0e0;
  }

  @include desktop {
    border-bottom: none;
    padding: 80px 90px;
  }
}

.logo {
  margin-right: auto;

  @include tablet {
    margin-right: auto;
  }
  @include desktop {
    margin: 0;
    padding-right: 20px;
  }
}

.nav {
  display: flex;
  align-items: center;

  @include desktop {
    align-items: baseline;
  }
}

.navlink {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 0.92;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--text-secondary);

  @include desktop {
    padding: 10px 0;
  }
}

// .navigation {
//   @include desktop {
//     padding-left: 20px;
//   }
// }

.navlink:first-child {
  @include desktop {
    border-left: 2px solid #e0e0e0;
    padding-left: 20px;
  }
}
.navlink:not(:last-child) {
  margin-right: 15px;
}

.navlinkActive {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 0.92;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--text-primary);
}
