@import "../../styles/common.scss";

.formInput {
  width: 290px;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: getColor("text-secondary");
  margin: 0;
  padding: 10px;
  border: none;
  border-bottom: 1px solid getColor("bg-secondary");
  @include tablet {
    width: 240px;
  }
  @include desktop {
    width: 240px;
  }
  &:focus {
    outline: none;
    border-bottom: 1px solid getColor("accent");
    &::placeholder {
      color: getColor("accent");
    }
  }
  &::placeholder {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: getColor("text-secondary");
  }
}
