@import "../shared/styles/common.scss";
.App {
  margin: 0 auto;
  height: 100vh;
  // padding-top: 30px;
  padding-bottom: 80px;

  @include tablet {
    // padding-top: 100px;
    padding-bottom: 530px;
    // max-width: 800px;

    background-image: url("../shared/images/mainPage/StrawberryLaptop.png"),
      url("../shared/images/mainPage/BananaLaptop.png"),
      url("../shared/images/mainPage/GreenLaptop.png"),
      url("../shared/images/mainPage/DecoreLaptop.png");
    background-size: 308px, 491px, 531px, 553px;
    background-repeat: no-repeat;
    background-position: right 36px bottom 168px, bottom 0 right 0,
      bottom 0 left 0, bottom 0 right 0;
  }
  @include desktop {
    // padding-top: 292px;
    // padding-bottom: 93px;
    // max-width: 1280px;
    background-image: url("../shared/images/mainPage/StrawberryDesc.png"),
      url("../shared/images/mainPage/BananaDesc.png"),
      url("../shared/images/mainPage/GreenDesc.png"),
      url("../shared/images/mainPage/DecoreDesc.png");
    background-size: 362px, 500px, 746px, 602px, cover;
    background-repeat: no-repeat;
    background-position: right 36px bottom 0px, top 0 right 0, right 195px top 0,
      bottom 0 right 0;
  }
}
.sideBarDiv {
  height: 100vh;
  @include desktop {
    background-image: url("../shared/images/sidebar/RightSideBarImgDesktop.png"),
      linear-gradient(to right, #ffffff 58%, getColor("bg-user-menu") 51%);
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
}
