@import "../../shared/styles/common.scss";
.sideBarDiv {
  background-color: getColor("bg-secondary");
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  @include tablet {
    display: flex;
    flex-direction: row;
    background-position: 128% 100%;
    background-repeat: no-repeat;
    background-image: url("../../shared/images/sidebar/RightSideBarImgTablet.png");
  }
  @include desktop {
    background-position: 100% 40%;
    background-repeat: no-repeat;
    background-image: url("../../shared/images/sidebar/RightSideBarImgDesktop.png");
  }
}
