@media screen and (min-width: 320px) {
  .DiaryDate {
    margin-right: 20px;
    font-family: Verdana;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #212121;
  }

  // .DatePickerSection {
  // display: none;
  //   justify-content: baseline;
  //   align-items: center;
  // }

  .DatePickerBtn {
    background-image: url("../../../../shared/images/svg/Datepicker.svg");
    background-repeat: no-repeat;
    border: none;
    width: 18px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .DiaryDate {
    font-size: 34px;
  }
}

@media screen and (min-width: 1280px) {
}
