@import "../../styles/common.scss";
.radioBox {
  @include flex(center, center);
  height: 20px;
  padding-left: 26px;
}
.radioLabel {
  @include flex(flex-start, center);
  font-family: Verdana;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: getColor("text-secondary");
}
.customRadio {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -26px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}

.radioButton {
  margin: 0;

  //Only checked
  &:checked + .radioLabel > .customRadio::before {
    background-color: getColor("accent");
  }
  &:checked + .radioLabel {
    font-weight: 700;

    color: getColor("accent");
  }

  //Only focus
  &:focus + .radioLabel {
    font-weight: 700;
    color: getColor("accent");
  }
  &:focus + .radioLabel > .customRadio {
    border-color: getColor("accent");
  }

  //Focus and checked
  &:focus:checked + .radioLabel {
    font-weight: 700;
    color: getColor("accent");
  }
  &:focus:checked + .radioLabel > .customRadio {
    border: 1px solid #e0e0e0;
  }
  &:focus:checked + .radioLabel > .customRadio::before {
    background-color: getColor("accent");
  }
}
