.button {
  margin: 20px 0px 20px 10px;
  display: block;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  padding: 13px 48px;
  align-items: center;
  border-radius: 30px;
  border-style: none;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
}
.primary {
  background-color: #fc842d;
  color: #ffffff;
}
.secondary {
  background-color: #ffffff;
  color: #fc842d;
}
